{% extends 'base.html.twig' %}

{% block title %}Mon panier - La Boutique  {% endblock %}

{% block content %}

    <h1 class="font-weight-bold text-info">Mon panier</h1>
    <a href="{{ path('produits') }}" class="float-right font-weight-bold ">Retour</a><br>
    <p class="font-weight-bold ">Retrouvez l'ensemble des produits que vous avez ajouté dans votre panier.</p>

    {# {{ dump(panier) }} #}
    {% if panier |length > 0 %}
        <table class="table mt-3">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for produit in panier %}
                {# {{  dump(produit)}} #}
                <tr>
                    <th>
                        <img src="/uploads/{{ produit.product.illustration }}" alt="{{ produit.product.nom }}"
                             height="75px"><br>
                    </th>
                    <td class="font-weight-bold">{{ produit.product.nom }}
                        <br>
                        <small class="font-weight-bold">{{ produit.product.subtitle }}</small>
                    </td>
                    <td>

                  {#      Diminuer produit#}
                        <a href="{{ path('decrease_mon_panier', { 'id':produit.product.id}) }}">
                            <img src="{{ asset('assets/image/minus.png') }}" height="15px" alt="Supprimer quantité">
                        </a>
                        <b class="font-weight-bold"> x {{ produit.quantity }}</b>


                  {#      Ajouter produit#}
                        <a  href="{{ path('add_to_panier', { 'id':produit.product.id}) }}" >

                        <img src="{{ asset('assets/image/plus.png') }}" height="15px" alt="Ajouter quantité">
                        </a>
                    </td>
                    <td class="font-weight-bold">{{ (produit.product.prix/ 100) | number_format(2, ',', '.') }} €</td>
                    <td class="font-weight-bold">{{ (produit.product.prix * produit.quantity/ 100) | number_format(2, ',', '.') }} €</td>
                    <td>
                        <a href="{{ path('delete_mon_panier',{'id':produit.product.id}) }}">
                            <img src="{{ asset('assets/image/delete.png') }}"  height="18px" alt="Supprimer mon produit">
                        </a>

                    </td>
                </tr>
                {% set total = total + (produit.product.prix * produit.quantity) %}
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right mb-5 font-weight-bold">
            <b> Nombre de produit : {{ panier|length }}</b><br>
            <b> Total : </b>{{ (total/ 100) | number_format(2, ',', '.') }} €<br>

            <a href="{{ path('commande') }}" class="btn btn-success mt-3 font-weight-bold">Valider mon panier</a>
        </div>
    {% else %}
        <hr>
        <p class="mb-5 font-weight-bold"><b>Votre panier est vide.</b></p>
    {% endif %}
{% endblock %}
