{% extends 'base.html.twig' %}

{% block title %}Nos produits - My Dress{% endblock %}

{% block content %}

    <h1>Nos produits</h1>

    <div class="row">

        {% for product in products %}
            <div class="col-md-4">
                {# {{ dump(product) }} #}
                <div class="product-item text-center">

                    <img src="/uploads/{{ product.illustration }}" alt="{{product.nom }}" class="img-fluid">
                    <h5>{{product.nom }}</h5>
                    <span class="product-subtitle">{{ product.subtitle }}</span><br/>
                    <span class="product-prix">{{ (product.prix / 100)|number_format(2,',','.')}}</span><br/>
                </div>

            </div>
        {% endfor %}

    </div>

{% endblock %}
