{% extends 'base.html.twig' %}

{% block title %}{{ product.nom }}- La boutique 100% Made in Loire{% endblock %}

{% block content %}
    <a href="{{ path('produits') }}" class="float-right">Retour</a><br>
    <div class="row product-container">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.nom }}" class="img-fluid">
        </div>
       <div  class="col-md-7 my-auto ">
            <h3>{{ product.nom }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-seul-prix fw-bold"> {{ (product.prix/ 100) | number_format(2, ',', '.') }} €</span>
            <hr>
            <p>
                {{ product.description }}
            </p>
            <a href="{{ path('add_to_panier', {'id' : product.id}) }}" class="btn btn-primary mb-5">Ajouter au panier</a>
        </div>
    </div>
    <hr>

    <h3 class="text-center text-uppercase font-weight-bold text-secondary ">Nos meilleurs ventes</h3>
    <p class="text-center text-secondary" >Découvrez les articles les plus vendus.</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'produit/single_produit.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->
{% endblock %}
