<div class="product-item text-center">

    <a href="{{ path('product', {'slug': product.slug }) }}"><img src="/uploads/{{ product.illustration }}"
                                                                  alt="{{ product.nom }}" class="img-fluid"></a>
    <h5>{{ product.nom }}</h5>
    <span class="product-subtitle">{{ product.subtitle }}</span><br/>
    <span class="product-prix">{{ (product.prix/ 100) | number_format(2, ',', '.') }} €</span><br/>
</div>
