{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - La Marque 42{% endblock %}

{% block content %}

    <h2 class="font-weight-bold text-info text-center"> Ma commande</h2>


    <a href="{{ path('produits') }}" class="float-right font-weight-bold">Nos produits</a><br>

    <a href="{{ path('compte') }}" class="float-right font-weight-bold">Retour</a><br>
    <hr>
    <div class="row">
        <div class="col-md-6">

            {% set formHtml %}

                {{ form_start(form, {action:path('commande_recap')}) }}

                {{ form_label(form.adresse, 'Choisissez votre adresse de livraison') }}
            <a href="{{ path('compte_adresse_ajouter') }}" class="text-info font-weight-bold"> Ajouter une nouvelle adresse</a>

                {{ form_end(form) }}

            {% endset %}

            {{ formHtml|replace({'[br]' : '<br>'}) | raw }}

        </div>

        <div class="col-md-6">
            <div>
                <p class="font-weight-bold ">Récapitulatif de ma commande.</p>
            </div>
            <div class="commande-sommaire ">
       {#         {{ dump(panier) }}#}
                {% for key,produit in panier %}
                    {# {{ dump(produit) }} #}
                <div class="row  {% if key > 0 %} mt-2{% endif %}">

                    <div class="col-2  ">
                        <img src="/uploads/{{ produit.product.illustration }}" alt="{{ produit.product.nom }}"
                             height="150px"><br>
                    </div>
                    <div class="col-7 font-weight-bold text-center  my-auto">
                        {{ produit.product.nom }}<br/>
                        <small class="font-weight-bold my-auto">{{ produit.product.subtitle }}</small>
                        <br/>
                        x {{ produit.quantity }}


                    </div>
                    <div class="col-3 font-weight-bold my-auto">
                        <p>Total : </p>
                        {{ (produit.product.prix * produit.quantity/ 100) | number_format(2, ',', '.') }} €

                    </div>
                </div>
                <div class="row  float-right">
                    <div class="col-1 ">
                        <a href="{{ path('delete_mon_panier',{'id':produit.product.id}) }}">
                            <img src="{{ asset('assets/image/delete-button.png') }}" height="18px"
                                 alt="Supprimer mon produit">
                        </a>
                    </div>
                </div>
                <br/>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
