{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - La Marque 42{% endblock %}

{% block content %}

    <h2 class="font-weight-bold text-info text-center"> Ma commande</h2>
    <p class="font-weight-bold text">Choisissez vos préférences avant de passer votre commande sur la boutique "La
        Marque 42".</p>

    <a href="{{ path('produits') }}" class="float-right font-weight-bold">Nos produits</a><br>

    <a href="{{ path('compte') }}" class="float-right font-weight-bold">Retour</a><br>
    <hr>
    <div class="row">
        <div class="col-md-6">

            {% set formHtml %}
                {{ form_start(form,{action:path('commande_recap')}) }}

                {{ form_end(form) }}
            {% endset %}

            {{ formHtml|replace({'[br]' : '<br>'}) | raw }}

        </div>

        <div class="col-md-6">
            <div>
                <p class="font-weight-bold text-center">Retrouvez le récapitulatif de vos produits.</p>
            </div>
            <div class="commande-sommaire" >
            {# {{ dump(panier) }} #}
            {% for key,produit in panier %}
                <div class="row {% if key > 0 %} mt-2{% endif %}">
                    <div class="col-3 mb-3 ">
                        <img src="/uploads/{{ produit.product.illustration }}" alt="{{ produit.product.nom }}"
                             height="150px"><br>
                    </div>
                    <div class="col-7 text-center font-weight-bold my-auto">
                        {{ produit.product.nom }}<br/>
                        <small class="font-weight-bold ">{{ produit.product.subtitle }}</small>
                    </div>
                    <div class="col-1 font-weight-bold">
                        x {{ produit.quantity }}
                    </div>
                    <div class="col-">
                        <a href="{{ path('delete_mon_panier',{'id':produit.product.id}) }}">
                            <img src="{{ asset('assets/image/delete-button.png') }}" height="18px" alt="Supprimer mon produit">
                        </a>
                    </div>
                </div>
                <hr>
            {% endfor %}
            </div>
        </div>
    </div>



    <b>Payer</b><br/>
    </div>
{% endblock %}
